.Card {
  height: 315px;
  width: 100%;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  align-content: center;  
}

.dataCard {
  background-color: #efefef;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.revenueCard {
  width:  560px;
  height: 315px;
}

.categoryCard {
  width:  560px;
  height: 315px;
}
